* {
     font-family: Georgia, 'Times New Roman', Times, serif;
}
#social { 
     font-size: 22px;
     color: blue;
}
.bio {
     text-align: center;
}
.bio-div {
     margin: 20px 0 10px 75px
}
body {
     background-color: lightgrey;
/*      transition: 15s;
 */}
.cc-logo {
     height: 45px;
     width: auto;
}
header {
     font-size: 1.5em;
     color: darkslateblue;
}
.header-section {
     margin: 25px 0 0 0;
}
.me {
     border: 4px inset slategrey;
     border-radius: 7%;
     width: 185px;
     height: 175px;
}
.my-bio-info {
     font-size: 18px;
}
.icon {
     border: 3px inset slategrey;
     border-radius: 75%;
     height: 45px;
     width: 45px;
}
.foot {
     height: 25px;
     width: 25px;
}
footer {
     position: sticky;  
     bottom: 0;
     font-size: 18px;
     color: darkslateblue;
}
#gitHub {
     font-size: 18px;
     color: black;
     list-style: none;
}
#split, #gitHub {
     -webkit-columns: 2;
     -moz-columns: 2;
     columns: 2;
     padding-left: 0;
   }
   ul li {
     list-style-position: inside;
     -webkit-column-break-inside: avoid;
     page-break-inside: avoid;
     break-inside: avoid;
     list-style: none;
     font-size: 18px;
   }

   .social-media {
        margin: 20px 0 10px 75px;
   }
